:root {
    /* Text color */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --text-color-white: #ffffff;
    /* Logo text color */
    --logo-text-color-black: #000000;
    --logo-text-color-white:#ffffff;
    /* Background color */
    --backgraund-color-white: #ffffff;
    --backgraund-color-grey: #F5F4FA;
    --backgraund-color-dark: #2F303A;
    /* Accent color */
    --accent-color: #2196F3;
    --accent-color-hover-btn: #188CE8;
    /* Icon color */
    --icon-color-white: #ffffff;
    --icon-color-grey: #AFB1B8;
    /* Other */
    --indent: 30px;
    --item: 4;
    --anim-fast: 2500ms;
    --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0 auto;
}
/* Частковий ресет */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
img{
    display: block;
    height: auto;
    max-width: 100%;
}
/* Visually-hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Утилітарні */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.card-set{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}
.card-item{
    flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
}
.list {
    list-style: none;
}
.link {
    color: currentColor;
    text-decoration: none;
}
.section-title {
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 50px;
}
.title {
    font-weight: 700;
    color: var(--title-text-color);
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Хедер */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.02em;
    line-height: 1.19;
    color: var(--accent-color);
    text-decoration: none;
}
.logo__text {
    color: var(--logo-text-color-black);
}
.header-logo{
    margin-right: 93px;
}
.header{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-line {
    border: 1px solid #ECECEC;
}
.header__link {
    display: flex;
    padding: 32px 0;
    align-items: center;
    transition: color, var(--anim-fast) var(--transition-func);
}
.header__link:hover,
.header__link:focus {
    color: var(--accent-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.header__list {
    display: flex;
    margin-left: auto;
}
.header__item:not(:last-child) {
    margin-right: 50px;
}
.header__icon {
    margin-right: 10px;
    fill: currentColor;
}
.nav{
    color: var(--title-text-color);
}
.nav-list {
    display: flex;
}
.nav__item:not(:last-child) {
    margin-right: 50px;
}
.nav__link {
    display: flex;
    padding: 32px 0;
    align-items: center;
    transition: color, var(--anim-fast) var(--transition-func);
}
.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}
.nav__link--current{
    position: relative;
    color: var(--accent-color);
}   
.nav__link--current::after{
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}
/* Герой */
.hero{
    background-color: var(--backgraund-color-dark);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero/img.jpg);
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero__bg{
    align-items: center;
    justify-content: center;
}
.hero__title{
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-white);
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--text-color-white);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    transition: background-color var(--anim-fast) var(--transition-func);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--accent-color-hover-btn);
}
/* Особенности  */
.feature__title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.feature__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    background-color: var(--backgraund-color-grey);
    margin-bottom: 30px;
}
/* Чем мы занимаемся */
.work-types{
    padding-top: 0;
}
.work-types__list{
    --item: 3;
}
.work-types__item{
    position: relative;
}
.work-types__descr{
    position: absolute;
    left: 0;
    bottom: 0%;
    font-weight: 700;
    line-height: calc(16/14);
    text-align: center;
    padding: 27px;
    width: 100%;
    color: var(--text-color-white);
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
}
/* Наша команда */
.team{
    background-color: var(--backgraund-color-grey);
}
.team__item{
    background-color: var(--backgraund-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__wrapper{
    padding: 30px;
}
.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-text-color);

    text-align: center;
    margin-bottom: 10px;
}
.team__descr{
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
    text-align: center;
}
/* Sosial icons */
.social__list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--backgraund-color-white);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--anim-fast) var(--transition-func);
}

.social__icon {
    fill: var(--icon-color-grey);
    transition: fill var(--anim-fast) var(--transition-func);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
    fill: var(--icon-color-white);
}
/* Постоянные клиенты */
.clients__item {
    --item: 6;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 16px;
    padding-left: 30px;
    border: 1px solid var(--icon-color-grey);
    border-radius: 4px;
    fill: var(--icon-color-grey);
    transition: fill var(--anim-fast) var(--transition-func),
        border var(--anim-fast) var(--transition-func);
}

.clients__link:hover,
.clients__link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color)
}
/* Footer */
.footer{
    background-color: var(--backgraund-color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    margin-bottom: 20px;
    display: block;
}
.logo-text--mode-white {
    color: var(--text-color-white)
}
.footer__list{
    gap: 9px;
    display: flex;
    flex-direction: column;
}
.footer__link{
    margin-bottom: 9px;
    transition: var(--anim-fast) var(--transition-func);
}
.footer__link:hover,
.footer__link:focus{
    color: var(--accent-color);
}
.footer__container{
    display: flex;
    gap: 70px;
    align-items: baseline;
}
.address {
    font-style: inherit;
    color: rgba(255, 255, 255, 0.6);
}
.address__descr {
    color: var(--text-color-white);
    margin-bottom: 20px;
}
.footer-join__title,
.footer-subscribe__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-color-white);
    margin-bottom: 20px;
}
.footer-subscribe{
    margin-left: auto;
}
.footer-subscribe__form{
    display: inline-flex;
    gap: 12px;
    align-items: center;
}
.footer-subscribe__input{
    width: 358px;
    font-size: 16px;
    line-height: calc(20 / 16);
    padding: 15px 16px;
    color: var(--text-color-white);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
.footer-subscribe__input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__icon{
    fill: currentColor;
    margin-left: 10px;
}
/* Footer socials icon */
.footer-social__list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.footer-social__icon {
    fill: var(--icon-color-white);
}
.footer-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    color: var(--text-color-white);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--anim-fast) var(--transition-func);
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--accent-color);
}
/* Портфоліо фільтр*/
.filter-list{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    display: block;
    transition: color var(--anim-fast) var(--transition-func),
    background-color var(--anim-fast) var(--transition-func),
    box-shadow var(--anim-fast) var(--transition-func);
}   
.filter-btn:hover,
.filter-btn:focus{
    color: var(--text-color-white);
    background-color: var(--accent-color);
    box-shadow: 
    0px 3px 1px 0px rgba(0, 0, 0, 0.10), 
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.filter__item:not(:last-child){
    margin-right: 8px;
}
/* Portfolio list */
.portfolio-list{
    --item: 3;
}
.portfolio-list__container{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.portfolio-list__thumb{
    position: relative;
    overflow: hidden;
}
.portfolio-list__link{
    display: block;
    transition: box-shadow var(--anim-fast ) cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover,
.portfolio-list__link:focus{
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__title{
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-list__descr{
    font-size: 16px;
    line-height: 1.87;
}
.portfolio-list__link:hover .overlay,
.portfolio-list__link:focus .overlay{
    transform: translateY(0);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform var(--anim-fast) var(--transition-func);
}
.overlay__descr {
    font-size: 18px;
    line-height: 1.56;
    color: var(--text-color-white);
}
/* Modal window */
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity var(--anim-fast) var(--transition-func),
    visibility var(--anim-fast) var(--transition-func);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0) rotate(90deg);
}
.modal{
    width: 528px;
    min-height: 581px;
    background-color: var(--backgraund-color-white);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    opacity: 1;
    transform: translate(-50%,  -50%);
    transition: transform var(--anim-fast) var(--transition-func);
}
.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill var(--anim-fast) var(--transition-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    fill: var(--accent-color);
}
/* Register Form */
.register-form{
    text-align: center;
}
.register-form__title{
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    color: var(--title-text-color);
}
.register-form__group{
    margin-bottom: 20px;
}
.register-form__wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.register-form__wrap:last-child{
    margin-bottom: 0;
}
.register-form__label{
    font-size: 12px;
    line-height: calc(14 / 12);
    text-align: left;
    margin-bottom: 4px;
}
.register-form__input,
.register-form__message{
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 11px;
    padding-left: 40px;
    height: 40px;
    outline: transparent;
    border-radius: 4px;
    transition: border var(--anim-fast) var(--transition-func);
}
.register-form__message::placeholder{
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.register-form__wrap{
    position: relative;
}
.register-form__input:hover,
.register-form__message:hover,
.register-form__input:focus,
.register-form__message:focus{
    border: 1px solid var(--accent-color);
}
.register-form__input:hover + .register-form__icon,
.register-form__input:focus + .register-form__icon{
    fill: var(--accent-color);
}
.register-form__message{
    height: 120px;
    padding: 12px 16px;
    resize: none;
}
.register-form__icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    transition: fill var(--anim-fast) var(--transition-func);
}
.register__checkbox:checked + .register__icon .register__icon--uncheck{
    opacity: 0;
    transition: opacity var(--anim-fast) var(--transition-func);
}
.register__checkbox:checked+.register__icon .register__icon--check{
    opacity: 1;
}
.register__checkbox:hover+.register__icon .register__icon--uncheck,
.register__checkbox:focus+.register__icon .register__icon--uncheck{
    fill: var(--accent-color);
}
.register__icon--uncheck{
    transition: fill var(--anim-fast) var(--transition-func);
}
.register__icon--check{
    opacity: 0;
    transition: opacity var(--anim-fast) var(--transition-func);
}
.register-form-agreement{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    cursor: pointer;
}
.register-form-agreement__text{
    line-height: 2;
    letter-spacing: 0.03em;
    user-select: none;
    text-underline-position: under;
}
.register-form-agreement__link{
    color: var(--accent-color);
}