.feature__item{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        --item: 2;
    }
    @media screen and (min-width: 1200px) {
        --item: 4;
    }
}
.feature__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.feature__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--backgraund-color-grey);
    margin-bottom: 30px;
}