.register-form {
    text-align: center;
}

.register-form__title {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    color: var(--title-text-color);
    @media screen and (min-width: 1200px) {
        line-height: calc(23 / 20);
    }
}

.register-form__group {
    margin-bottom: 20px;
}

.register-form__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.register-form__wrap {
    position: relative;
}

.register-form__label {
    font-size: 12px;
    line-height: calc(14 / 12);
    text-align: left;
    margin-bottom: 4px;
}

.register-form__input,
.register-form__message {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 11px;
    padding-left: 40px;
    height: 40px;
    outline: transparent;
    border-radius: 4px;
    transition: border var(--anim-fast) var(--transition-func);
}

.register-form__message::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    @media screen and (min-width: 1200px) {
        font-size: 12px;
        line-height: calc(14 / 12);
    }
}

.register-form__input:hover,
.register-form__message:hover,
.register-form__input:focus,
.register-form__message:focus {
    border: 1px solid var(--accent-color);
}

.register-form__input:hover+.register-form__icon,
.register-form__input:focus+.register-form__icon {
    fill: var(--accent-color);
}

.register-form__message {
    height: 120px;
    padding: 12px 16px;
    resize: none;
}

.register-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 11px;
    transition: fill var(--anim-fast) var(--transition-func);
}

.register__checkbox:checked+.register__icon .register__icon--uncheck {
    opacity: 0;
    transition: opacity var(--anim-fast) var(--transition-func);
}

.register__checkbox:checked+.register__icon .register__icon--check {
    opacity: 1;
}

.register__checkbox:hover+.register__icon .register__icon--uncheck,
.register__checkbox:focus+.register__icon .register__icon--uncheck {
    fill: var(--accent-color);
}
.register__icon{
    flex-shrink: 0;
}
.register__icon--uncheck {
    transition: fill var(--anim-fast) var(--transition-func);
}

.register__icon--check {
    opacity: 0;
    transition: opacity var(--anim-fast) var(--transition-func);
}

.register-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 12px;
    line-height: calc(14 / 12);
    margin-bottom: 30px;
    cursor: pointer;
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}

.register-form-agreement__text {
    line-height: calc(14 / 12);
    text-align: start;
    letter-spacing: 0.03em;
    user-select: none;
    text-underline-position: under;
}

.register-form-agreement__link {
    color: var(--accent-color);
}